@model QuevakWeb.Models.ClienteModel

@{
    ViewData["Title"] = "Editar Cliente";
    string nombreViewPadre = "Lista de Clientes";
    string nombreView = "Cliente";
}
<div class="container-fluid">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i> Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <a asp-action="Index">@nombreViewPadre</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Editar @nombreView : @Model.IdCliente</li>
        </ol>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Editar @nombreView : @Model.IdCliente</h6>
        </div>
        <div>
            @if (TempData["ErrorUsuario"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorUsuario"]
                </div>
            }
        </div>
        <form asp-action="Edit">
            <div class="row g-3 p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="id" value="@Model.IdCliente" />
                <input type="hidden" asp-for="IdCliente" />
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="RFC" class="control-label fw-bold"></label>
                    <input asp-for="RFC" class="form-control text-muted" />
                    <span asp-validation-for="RFC" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="NombreRS" class="control-label fw-bold"></label>
                    <input asp-for="NombreRS" class="form-control text-muted" />
                    <span asp-validation-for="NombreRS" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="Domicilio" class="control-label fw-bold"></label>
                    <input asp-for="Domicilio" class="form-control text-muted" />
                    <span asp-validation-for="Domicilio" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="Municipio" class="control-label fw-bold"></label>
                    <input asp-for="Municipio" class="form-control text-muted" />
                    <span asp-validation-for="Municipio" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="Estado" class="control-label fw-bold"></label>
                    <input asp-for="Estado" class="form-control text-muted" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="Telefono" class="control-label fw-bold"></label>
                    <input asp-for="Telefono" class="form-control text-muted" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="NombreContacto" class="control-label fw-bold"></label>
                    <input asp-for="NombreContacto" class="form-control text-muted" />
                    <span asp-validation-for="NombreContacto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-3 d-flex flex-column">
                    <label asp-for="Correo" class="control-label fw-bold"></label>
                    <input asp-for="Correo" type="email" class="form-control text-muted" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 d-flex justify-content-start">
                        <a class="btn btn-secondary btn-icon-split mb-3" asp-action="Index">
                            <span class="icon text-white-50">
                                <i class="bi bi-arrow-left-circle-fill"></i>
                            </span>
                            <span class="text">Regresar</span>
                        </a>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-icon-split mb-3" value="Create">
                            <span class="icon text-white-50">
                                <i class="bi bi-bookmark-plus-fill"></i>
                            </span>
                            <span class="text">Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
